.card-country-container {
  width: 100%;
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  /* margin: 0 auto; */
  overflow: hidden;
  max-width: 500px;
}

.card-country-container .flag-img {
  width: 100%;
}

.card-country-container .deatail-description {
  padding: 20px;
}
.card-country-container .deatail-description .title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-country-container .deatail-description h3 {
  font-weight: bold;
}
.card-country-container .deatail-description h3 span {
  font-weight: 400;
}
