.flag-container {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
}

.flag-container img {
  width: 100%;
  object-fit: cover;
}
.flag-container button {
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  background-color: #4187e2;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

@media (min-width: 600px) {

  .flag-container img {
    height: 200px;
    object-fit: cover;
  }
}

@media (min-width: 1000px) {
  .flag-container {
    max-width: 350px;
  }
}
