.flag-container {
  width: 100%;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.flag-container:hover {
  background-color: white;
  transform: scale(1.05);
}

.flag-container img {
  width: 100%;
  object-fit: cover;
}
.flag-container button {
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  background-color: #4187e2;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  transition: .3s;
}

.flag-container button:hover {
  cursor: pointer;
  background-color: blue;
}

@media (min-width: 600px) {
  .flag-container img {
    height: 200px;
    object-fit: cover;
  }
}

@media (min-width: 1000px) {
  .flag-container {
    max-width: 350px;
  }
}
