
.home-section {

}

.home-section .title-home {
    margin-top: 30px;
    padding: 15px 0;
    font-size: 35px;
} 

.home-container {
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px;
    justify-items: center;
}


@media (min-width: 600px) {
    
    .home-container{
        grid-template-columns: 1fr 1fr;
    }
    
}


@media (min-width: 1000px) {
    
    .home-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

}