
nav {
    background-color: #4187e2;
    padding: 15px;
    font-weight: bold;
}

nav a {
    font-size: 25px;
    margin-right: 20px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
}

.nav-selected {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }